/* MealDetailsPage.css */

.meal-details-page {
    text-align: center;
  }
  
  .meal-details-page form {
    margin-top: 20px;
  }
  
  .meal-details-page form input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
  }
  
  .meal-details-page form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .meal-details-page form button:hover {
    background-color: #0056b3;
  }
  